*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* general */
.container{
    max-width: 1200px;
    /* border:2px solid red; */
    margin:0 auto;
}
.top-spacing-padding{
    padding-top: 20px;
}
.top-spacing-padding-ul-title{
    padding-top: 30px;
}
/* background */
.grey-background-color{
    background-color: #F6F8F9;
}
.white-background-color{
    background-color: #FFFFFF;
}
.black-background-color{
    background-color: black;
}
.blue-background-color{
    background-color: #47ADF1;
}
.central-margin-auto{
    width: 60%;
}
/* font */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.bigger-font{
    font-size: 1.5em;
}
.medium-font{
    font-size: 1.2em;
}
.smaller-font{
    font-size: 0.7em;
}
.text-white{
    color:white;
}
/* header */
header{
    width: 70%;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}
#logo{
    padding-left: 50px;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
}
/* main */
#main{
    padding-top: 40px;
}
.space-between-top-bottom-pannel{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pannel{
    height:100px;
    width:1000px;
    background-color: white;
    border-radius: 1%;
}
#pannel-top{
    height:80px;
}
.pannel-top-spacing-padding{
    padding-top: 20px;
    padding-left: 70px;
}
#pannel-bottom{
    padding-top: 20px;
    height:700px;
}
.button{
    height:40px;
    width:100px;
    background-color: #47ADF1;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 10%;
}
#add-task{
    color: white;
}
#add-section{
    width: 125px;
    color:grey;
    background-color: #FFFFFF;
    border: 1px solid black;
}
.highlighted-text{
    display: inline-block;
    height: 30px;
    width:40px;
    background-color: black;
    border-radius: 15%;
}
.editorial{
    background-color: #47ADF1;
    width: 60px;
    text-align: center;
}
.q1-goals{
    background-color: #9C72E4;
    width: 60px;
    text-align: center;
}
.recruiting{
    background-color: #64C0A9;
    width: 60px;
    text-align: center;
}
.mobile{
    background-color: #F29E33;
    width: 60px;
    text-align: center;
}
.website{
    background-color: #D863A0;
    width: 60px;
    text-align: center;
}
.sales{
    background-color: #B0C926;
    width:60px;
    text-align: center;
}
.title-ul{
    padding-left: 40px;
}
ul{
    padding-left: 25px;
    list-style: none;
}


